/* variables.less */
/*
@font3-mode: ignore; // default or ignore
@font3-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
@font3-title: "Helvetica";
@font3-weight: normal;
@font3-style: normal;
@font3-varient: normal;
*/
